body{
    box-sizing: border-box;
    background-image: url(kepek/hatter.jpg);
}
main{
    background-color: rgb(255, 255, 230);
    margin: auto;
    width: 80%;
    max-width: 1000px;
}
header{
    text-align: center;
    font-family: cursive;
    color: red;
    font-weight: bold;
    height: 550px;
    background-image: url(kepek/fejlec.jpg);
    opacity: 0.8;
}
h1{
    padding-top: 60px;
}
nav{
    
    border-top: solid 1px white;
    background-color: red;
    height: 50px;
    border-bottom:solid 1px white; 
    
    
}
ul {
    padding-right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px;
    text-align: center;
    
    
  }
  nav li{
    border-top: solid 1pt rgb(255, 255, 255);
    border-bottom: solid 1pt rgb(255, 255, 255);
  }
  li{
    display: inline;
    padding: 5px;
    
  }
 li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
 }
 a:hover{
  background-color: green;
 }
  .kozep{
    font-size: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
          "as ar ar ar"
    ;
  }
  aside{
    grid-area: as;
    width: 100%;
    
  }
  footer{
    text-align: center;
    background-color: #ff1a1a;
    color: white;
  }
  article{
    grid-area: ar;
    padding: 10px;
    text-align: justify;
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
  }
  h2{
    color: #ff1a1a;
  }
  article h2{
    font-size: 15px;
    
  }
  .jobbrauszas{
    float: right;
    width: 200px;
    border-radius: 10px;
  }
  aside img{
    border: solid 1px red;
    padding: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 200px;
  }
  @media only screen and (max-width: 700px) {
    .kozep{
      
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 
          "ar"
          "as"
    ;
    }
    aside{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
   
}
   
